---
// contact.astro
import Layout from '../layouts/Layout.astro';

const pageTitle = "İletişim Bilgileri";
const pageDescription = "Polat Hukuk Bürosu | İletişim";
---

<Layout title={pageTitle} imageUrl='/uploads/photo-5.jpeg' >
  <address>
    <p>Polat Hukuk Bürosu</p>
    <p>Adalet Mah. 1586/3 Sok. No:24/4. Bayraklı, İzmir, Türkiye</p>
    <a href="mailto:avahmetrodipolat@gmail.com">avahmetrodipolat@gmail.com</a><br>
    <a href="tel:+905414902363">+90 541 490 23 63</a>
  </address>
</Layout>