---
// about.astro
import Layout from '../layouts/Layout.astro';

const pageTitle = "Ahmet Rodi Polat";
const pageDescription = "Polat Hukuk Bürosu | Hakkımızda";
---

<Layout title={pageTitle} imageUrl='/uploads/photo-4.jpeg' >
  <div>
    <p>
      2018 yılında İstanbul Beykent Üniversitesi Hukuk Fakültesi’nden mezun oldum. 
      Mezuniyetimin ardından serbest avukatlık faaliyetlerime başladım ve o tarihten 
      bu yana bireylerin ve kurumların hukuki ihtiyaçlarına etkin, güvenilir ve profesyonel çözümler sunmaktayım.
    </p>

    <p>
      Mesleki çalışmalarım ağırlıklı olarak ceza hukuku, aile hukuku, mülteci hukuku, 
      insan hakları hukuku ve idare hukuku alanlarında yoğunlaşmaktadır. 
      Bu alanlarda çok sayıda dava yürütmüş, çeşitli müvekkillere hukuki danışmanlık hizmeti 
      vermiş ve ulusal ölçekte farklı yargı süreçlerinde aktif görev almış bulunmaktayım.
    </p>

    <p>
      Hukuki yaklaşımımda, her dosyanın kendine özgü dinamiklerini dikkate alarak titiz, 
      planlı ve çözüm odaklı bir çalışma anlayışını benimserim. Müvekkillerime yalnızca 
      hukuki temsil sunmakla kalmayıp, sürecin her aşamasında şeffaf bilgilendirme ve stratejik 
      yönlendirme desteği sağlamayı ilke edinirim.
    </p>

    <p>
      Temel amacım; temsil ettiğim her kişi ve kurumun haklarını en etkin biçimde korumak, 
      adaletin somut olarak tecellisine katkıda bulunmak ve hukuk hizmetlerinde etik, 
      güven ve profesyonellik ilkelerini en yüksek standartta sürdürmektir.
    </p>
  </div>
</Layout>
