---
// contact.astro
import Layout from '../layouts/Layout.astro';

const pageTitle = "İletişim Bilgileri";
const pageDescription = "Polat Hukuk Bürosu | İletişim";
---

<Layout title={pageTitle} imageUrl='/uploads/photo-5.jpeg' >
  <style>
    address {
      font-style: normal;
      line-height: 1.8;
      margin-top: 20px;
    }
    a {
      text-decoration: none;
    }
  </style>
  <address>
    <p>Polat Hukuk Bürosu</p>
    <p><strong>Adres:</strong> Adalet Mah. 1586/3 Sok. No:24/4. Bayraklı, İzmir, Türkiye</p>
    <p><strong>E-posta:</strong> <a href="mailto:avahmetrodipolat@gmail.com">avahmetrodipolat@gmail.com</a></p>
    <p><strong>Telefon:</strong> <a href="tel:+905414902363">+90 541 490 23 63</a></p>
  </address>
</Layout>