---
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<h2><a href="/"><img src="/uploads/logo.jpeg" alt="site logo" /></a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Ana Sayfa</HeaderLink>
			<HeaderLink href="/hakkimizda">Hakkımızda</HeaderLink>
			<HeaderLink href="/iletisim">İletişim</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}
	h2 a img {
		padding: 0.5em;
		max-height: 3em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	@media (max-width: 480px) {
		nav {
			flex-direction: column;
			align-items: center;
		}
		.internal-links {
			width: 100%;
			display: flex;
			flex-direction: column;
		}
		nav a {
			text-align: center;
			width: 100%;
			padding: 0.25em;
			border: none;
		}
		nav a.active {
			color: white;
			text-decoration: none;
			background-color: var(--accent);
		}
	}
</style>
